# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Build output
build/
dist/
*.tgz

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE settings
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Local environment variables
*.local

# Next.js build output
.next/

# Yarn v1 lock file
yarn.lock

# MacOS-specific files
*.swp
